In [1]:


import pandas as pd
from itertools import combinations

# Define the file path
file_path = '/kaggle/input/datasett/RecoOutPileup_uniform_1_10000_1666_ns.root_foundtracks.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Initialize a list to store the results for the first part
results1 = []

# Loop through the range where x < 5050
for x in range(5000):
    # Extract 'recox', 'recoy', 'recoz', 'recot', 'trackid', and 'muonid' values from rows x+20 and x+50
    reco_values_row1 = df.loc[x+20, ['recox', 'recoy', 'recoz', 'recot', 'trackid', 'muonid']].tolist()
    reco_values_row2 = df.loc[x + 200, ['recox', 'recoy', 'recoz', 'recot', 'trackid', 'muonid']].tolist()

    # Check if trackid values are the same for both pairs and append the result to the results list
    if reco_values_row1[-2] == reco_values_row2[-2]:
        results1.append((
            reco_values_row1[-2], reco_values_row1[-1], reco_values_row1[0], reco_values_row1[1], reco_values_row1[2], reco_values_row1[3],
            reco_values_row2[-2], reco_values_row2[-1], reco_values_row2[0], reco_values_row2[1], reco_values_row2[2], reco_values_row2[3],
            1
        ))
    else:
        results1.append((
            reco_values_row1[-2], reco_values_row1[-1], reco_values_row1[0], reco_values_row1[1], reco_values_row1[2], reco_values_row1[3],
            reco_values_row2[-2], reco_values_row2[-1], reco_values_row2[0], reco_values_row2[1], reco_values_row2[2], reco_values_row2[3],
            0
        ))

# Create a DataFrame from the results list with the specified column names
df_results1 = pd.DataFrame(results1, columns=['TrackID1', 'MuonID1', 'X1', 'Y1', 'Z1', 'T1', 'TrackID2', 'MuonID2', 'X2', 'Y2', 'Z2', 'T2', 'Label'])

# Display the DataFrame
#print(df_results1)


# Initialize an empty DataFrame to store the results for the second part
columns = ['TrackID1', 'MuonID1', 'X1', 'Y1', 'Z1', 'T1', 'TrackID2', 'MuonID2', 'X2', 'Y2', 'Z2', 'T2', 'Label']
df_results2 = pd.DataFrame(columns=columns)

# Initialize a variable to track the total number of rows
total_rows = 0

# Iterate over the first 15 unique track ids
for track_id in df['trackid'].unique()[:54]:
    # Check if the total number of rows exceeds 5000
    if total_rows >= 5000:
        break  # Break the loop if 5000 rows have been reached
    
    # Filter DataFrame for current track id
    df_track = df[df['trackid'] == track_id]
    
    # Initialize an empty DataFrame to store the results for the current track id
    df_track_results = pd.DataFrame(columns=columns)
    
    # Iterate over all combinations of rows for the current track id
    for pair in combinations(df_track.index, 2):
        row1 = df_track.loc[pair[0]]
        row2 = df_track.loc[pair[1]]
        
        # Extract values from row 1
        trackid1 = row1['trackid']
        muonid1 = row1['muonid']
        X1 = row1['recox']
        Y1 = row1['recoy']
        Z1 = row1['recoz']
        T1 = row1['recot']
        
        # Extract values from row 2
        trackid2 = row2['trackid']
        muonid2 = row2['muonid']
        X2 = row2['recox']
        Y2 = row2['recoy']
        Z2 = row2['recoz']
        T2 = row2['recot']
        
        # Check if the 'trackid' values are the same for both rows
        result2 = 1 if trackid1 == trackid2 else 0
        
        # Append the values to the DataFrame
        df_track_results = pd.concat([df_track_results, pd.DataFrame({
            'TrackID1': [trackid1],
            'MuonID1': [muonid1],
            'X1': [X1],
            'Y1': [Y1],
            'Z1': [Z1],
            'T1': [T1],
            'TrackID2': [trackid2],
            'MuonID2': [muonid2],
            'X2': [X2],
            'Y2': [Y2],
            'Z2': [Z2],
            'T2': [T2],
            'Label': [result2]
        })], ignore_index=True)
        
        # Update the total number of rows
        total_rows += 1
    
    # Concatenate the results for the current track id to df_results2
    df_results2 = pd.concat([df_results2, df_track_results], ignore_index=True)

# Keep only the first 5000 rows
df_results2 = df_results2.head(5000)

# Display the DataFrame
#print(df_results2)  # Displaying only the first 10 rows for brevity

# Concatenate df_results1 and df_results2 into a single DataFrame
combined_df = pd.concat([df_results1, df_results2], ignore_index=True)

# Display the combined DataFrame
combined_df
# Save the combined DataFrame as a CSV file
combined_df.to_csv('combined_results.csv', index=False)

/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:104: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_results2 = pd.concat([df_results2, df_track_results], ignore_index=True)
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({
/tmp/ipykernel_33/1125401773.py:84: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_track_results = pd.concat([df_track_results, pd.DataFrame({

In [3]:
df = pd.read_csv('/kaggle/input/datasett/RecoOutPileup_uniform_1_10000_1666_ns.root_foundtracks.csv')
df

,trackid,firstposx,firstposy,firstposz,firstpost,momx,momy,momz,charge,chi2ndf,type,hitid,muonid,recox,recoy,recoz,recot
0,0,196.417,196.417,-48.6717,50.0,95.6451,-199.342,41.729400,1,0,0,0,4264,196.417,1.964170e+02,-48.6717,50.0
1,0,196.417,196.417,-48.6717,50.0,95.6451,-199.342,41.729400,1,0,0,1,4264,212.120,1.541140e+02,-57.2000,50.0
2,0,196.417,196.417,-48.6717,50.0,95.6451,-199.342,41.729400,1,0,0,2,4264,219.637,1.119110e+02,-65.3700,50.0
3,0,196.417,196.417,-48.6717,50.0,95.6451,-199.342,41.729400,1,0,0,3,4264,220.008,7.148510e+01,-73.1600,50.0
4,0,196.417,196.417,-48.6717,50.0,95.6451,-199.342,41.729400,1,0,0,4,4264,213.928,3.388290e+01,-80.1900,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112425,10749,-209.353,-152.104,-101.3700,41165.0,-42.1009,170.654,-0.658626,1,0,0,3,9461,-185.003,-2.265560e-14,-109.7300,41165.0
112426,10749,-209.353,-152.104,-101.3700,41165.0,-42.1009,170.654,-0.658626,1,0,0,4,9461,-165.986,2.628960e+01,-111.0600,41165.0
112427,10749,-209.353,-152.104,-101.3700,41165.0,-42.1009,170.654,-0.658626,1,0,0,5,9461,-145.374,4.723480e+01,-112.2000,41165.0
112428,10749,-209.353,-152.104,-101.3700,41165.0,-42.1009,170.654,-0.658626,1,0,0,6,9461,-124.620,6.349680e+01,-113.3400,41165.0
112429,10749,-209.353,-152.104,-101.3700,41165.0,-42.1009,170.654,-0.658626,1,0,0,7,9461,-106.446,7.733780e+01,-114.1000,41165.0

In [3]:
import pandas as pd
df = pd.read_csv('/kaggle/input/datasett/RecoOutPileup_uniform_1_10000_1666_ns.root_foundtracks.csv')

# Select first 10 rows
df_first_10 = df.head(10)

# Select last 10 rows
df_last_10 = df.tail(10)

# Concatenate both subsets
df_first_last_10 = pd.concat([df_first_10, df_last_10])

# Save first and last 10 rows of DataFrame to CSV file
df_first_last_10.to_csv('/kaggle/working/RecoOutPileup_uniform_1_10000_1666_ns.root_foundtracks_first_last_10.csv', index=False)